* {
    box-sizing: border-box;
}

html {
    overscroll-behavior: none;
}

body {
    font-family: "Cormorant Garamond";
    background-color: black;
}

.fixed-left {
    display: flex;
    width: 30%;
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

#fixed-left-image {
    object-fit: cover;
    display: block;
    width: 350px;
    height: 200px;
    border-radius: 25px;
    margin: 25px 0;
    margin: top right bottom left;
    transition: 0.3s ease-in-out;

}

.divider {
    width: 350px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

#fixed-left-image:hover,
#image:hover {
    transform: scale(1.1);
}

.twitter-tweet:hover {
    transform: scale(1.05);
}

li {
    list-style-type: circle;
}

.fixed-right {
    width: 70%;
    position: fixed;
    right: 0;
    top: 0;
    margin-top: 0;
    align-items: center;
    text-align: justify;
    color: white;
    background-color: #669bbc;
    display: flex;
    border-radius: 25px;
    height: 100vh;
    padding: 50px;

}

#image {
    display: block;
    max-width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 60px;
    transition: transform 0.3s ease-in-out;
    margin: 25px 0;
}

#tribute-info {
    font-size: 20px;
}

#image-caption {
    font-size: 100px;
}

.twitter-tweet {
    padding: 20px;
    width: 350px;
    transition: transform 0.3s ease-in-out;
}

a {
    text-decoration: none;
}

a:visited {
    color: white;
}

a:hover {
    color: black;
}

a:active {
    color: black;
}